html {
    margin: auto;
    max-width: 52rem;
    background: #f1f1f1;
    color: #54433a;
    font-family: "Noto Serif", -apple-system-ui-serif, ui-serif, Georgia, serif;
}
body {overflow-x: hidden}
pre, blockquote {overflow-x: auto; background: #e9e6e4; padding: 1em}
blockquote {margin: 0; border-left: 0.75em solid}
blockquote * {margin: 0 0 0.5em 0}
ul, ol {padding-left: 1em}
a {color: #465aa4}
#header a, .links a {text-decoration: none}
#sitename, .links a:hover {color: #7d6658}
#header a, .links a, .tags a {padding: 0 0.1em 0 0}
hr {border: 0.75px solid}
